<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZFNavigationControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54199E7B1C1FE8E8000110E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54199E941C1FE8E8000110E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54199E9F1C1FE8E8000110E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
